/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #000;
  /*font-family: 'Neuton', serif;*/
  font: 13.34px Helvetica, Arial, sans-serif;
  /*font-size: small;*/
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  /*font-size: 100%;*/ }

/*h1 { margin-bottom: 1em; }*/
p { margin: 1em 0; }

a{
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Landing
/*
/*****************************************************************************/

.split {
  height: 100%;
  margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.left{
  width: 98%;
  padding: 1% 1%;
  float: left;
  background-image:url("../images/gridme.png");
  height: 100%;
  text-align: right;
  color: #333333;
}

.split .left{
    padding-left: 1%;
  padding-right:1%;
  width: 48%;
}
.right{
  width: 98%;
  padding: 1% 1%;
  background-color: #b20000;
  background-image:url("../images/cartographer.png");
  height: 100%;
  color: #eeeeee;
}
.split .right{
  width: 48%;
  float:left;
  padding-left: 1%;
  padding-right:1%;
}

#rightbar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color:white;

  margin-top: 15px;
  padding-left: 15px; 

  border-left-width:2px;
  border-left-color: white;
  border-left-style: solid;
  height:10px;
}

#leftbar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color:#333333;
  
  margin-top: 15px;
  padding-right: 15px;

  border-right-width:2px;
  border-right-color: #333333;
  border-right-style: solid;
  height:10px;
}

#leftbar, #rightbar {
  /*height :120px;*/
}

.split h1{
  font-size: 100px;
  padding-top: 40%;
}

.split ul{
  font-size: 20pt;
  padding-top: 10px;
}

.split li {
  list-style-type: none;
  display: inline; 
  padding-bottom: 0;
  margin-bottom: 0;
}

.left a, .left a:visited{
  color:#333333;
}

.left a:hover{
  color:#6f6f6f;
}

.right a, .right a:visited{
  color:white;
}

.right a:hover{
  color:#c3c3c3;
}

.left li {
  padding-left: 20px;
}

.right li{
  padding-right: 20px;
}





/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

.col {
  width: 200px;
  text-align: justify;
  line-height: 1.5;
  float: left;
  margin:  50px 30px 0 30px;
}

.wrap{
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/


.footer {
  position: absolute;
  height: 20px; /* .push must be the same height as .footer */
  bottom:0;
  width: 100%;
  padding: 0;
  border:0;
  text-align: right;
  right:7px;
}

.footer a, .footer a:visited{
  color:#c3c3c3;
}

.footer a:hover{
  color:333333;
}

.footer ul{
  list-style: none;
}

.footer li{
  display: inline;
}