:root {
	--red: #b20000;
	--black: #1d1d1d;
	--white: #eeeeee;
	--title: 200px;
	--head: 60px;
	--sub-head: 35px;
	--large: 30px;
	--text: 15px;

	--head-weight: 900;
	--sub-head-weight: 700;
	--text-weight: 300;

	--page-height: 90vh;

	--highlight-padding: 7px 10px 5px 10px;

	--highlight-transition: all .2s;
}

body{
	font-family: 'Montserrat', sans-serif;
	background: var(--white);
}

.back{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container{
	width: 800px;
	padding: 120px 0px;
}

h2{
	display: inline-block;
	margin-bottom: 20px;
	padding: var(--highlight-padding);	
	font-size: var(--head);
	font-weight: var(--head-weight);
	color: var(--white);
	background: var(--red);
}

h3{
	margin-bottom: 10px;
	font-size: var(--sub-head);
	font-weight: var(--sub-head-weight);
	margin-bottom: 45px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: var(--text-weight);
	font-size: var(--text);
	line-height: 1.7;
	margin-bottom: 20px;
}

p a{
	font-family: 'Open Sans', sans-serif;
	color: var(--red);
	font-weight: 400;
	position: relative;
	text-decoration: none;
	padding: 0 2px;
	transition: var(--highlight-transition);
}

a:hover{
	background: var(--red);
	color: var(--white);
}

.nav-container{
	position: relative;
	width: 150px;
	height: var(--page-height);
	clip: border-box;
	-webkit-mask-clip: border-box;
}

nav{
	position: absolute;
	right: 20;
	height: var(--page-height);
	font-weight: var(--head-weight);
	font-size: var(--large);
}

nav ul{
	text-align: right;
	position: fixed;
	top: 20;
}

nav li{
	margin-bottom: 10px;
}

nav a{
	text-decoration: none;
	padding: 0 8px;

}

.super nav{
	z-index: 100;
}

.super nav a{
	opacity: 0;
	background: var(--red);
	color: var(--white);
	transition: var(--highlight-transition);
}

.super nav a:hover{
	opacity: 1;
}

.hero nav{
	z-index: 95;
}

.hero nav a, .featured nav a{
	color: var(--red);
}

.about nav{
	z-index: 90;
}

.about nav a{
	color:var(--white);
}

.hero{
	position: relative;
	min-height: var(--page-height);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.hero h1{
	font-size: var(--title);
	font-weight: var(--head-weight);
	margin-left: -9px;
	color:var(--red);
}

.hero h3{
	color: var(--black);
}

.about{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: var(--page-height);
	box-sizing: border-box;
	background: var(--black);
	color: var(--white)
}

.about h2{
	color: var(--white);
	background: var(--red); 
}

.about h3{
	color: var(--white);
}
