---
layout: default
title: Development Projects
---
<div class="row">
{% for post in site.development_projects reversed %}
{% if post.status != "draft" %}
      
            <div class="col-sm-4">
                  <h2><a href="http://trevorsargent.github.io/{{post.reponame}}">{{post.title}}</a></h2>
                  <h3>{{post.date}}</h3>
                  <p>{{post.description}}</p>
                  <p><a href="http://github.com/trevorsargent/{{post.reponame}}">view project source on github!</a></p>
            </div>
{% endif %}
{% endfor %}
</div>