<div class="about">
	{% include nav.html %}
	<div class="back">

		<div class="container">

			<h2>who?</h2>
			<h3>me. trevor :)</h3>
			<p>I'm a designer of many kinds, living and working in Portland, OR. Most of the time I'm designing lighting, scenery, projections,
				and a ton of other stuff for the local theatres in town. You can find all that stuff
				<a href="http://trevorsargent.me">here</a>.
			</p>

			<p>When I'm not on a ladder or drafting, I'm flipping bits back and forth learning a ton and making (hopefully) some cool
				things for your screen to show you. These days it's mainly web things. I like making stuff that's easy to show people
				and maybe even somewhat useful for those that need it. </p>

			<p>
				I've assembled some of my favorite stuff here for you, (don't you feel special) feel free to take a look around. The
				<a href="/labs">labs</a> section has some unfinished / more hacky sorts of things, but I think they're kinda cool so there you go.
			</p>
		</div>
	</div>
</div>