<div class="about">
	{% include nav.html %}
	<div class="back">

		<div class="container">

			<h2>who?</h2>
			<h3>me. trevor :)</h3>
			<p>
				I'm a designer of many kinds, living and working in Portland, OR. Some of the time I'm designing
				lighting, scenery, projections,
				and a ton of other things for the local theatres... You can find all of that stuff
				<a href="http://trevorsargent.me">here. I take great pride in creating
					individual solutions across many disciplines. THe things I've collected here are some of my favorite
					web-ready projects that I've made in the past few yeras. Enjoy!
			</p>
		</div>
	</div>
</div>