<div class="about">
	{% include nav.html %}
	<div class="back">

		<div class="container">

			<h2>who?</h2>
			<h3>me. trevor :)</h3>
			<p>I'm a designer of many kinds, living and working in Portland, OR. Most of the time I'm designing lighting, scenery, projections,
				and a ton of other things for the local theatres... You can find all my professional stuff
				<a href="http://trevorsargent.me">here</a>.
			</p>

			<p>When I'm not on a ladder or drafting, I'm flipping bits back and forth learning a ton and making (hopefully) some cool
				things for your screen to show you. These days it's mainly web things, cuz I like making stuff that's easy to show people
				and maybe even somewhat useful for those that need it, but I've also taken stabs at visual art, animation, photography,
				and a ton of other stuff. </p>

			<p>
				I've assembled some of my favorite stuff from across disciplines here for you, (don't you feel special). Feel free to take
				a look around - that's what it's all here for. I'll probably end up adding some 'thoughts' here too... so there's that
				to look forward to also.
			</p>
		</div>
	</div>
</div>