<?php
  $bg = array('1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg'); // array of filenames

  $i = rand(0, count($bg)-1); // generate random number size of the array
  $selectedBg = "$bg[$i]"; // set variable equal to which random filename was chosen
?>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
		<link href='http://fonts.googleapis.com/css?family=Neuton:200,400' rel='stylesheet' type='text/css'>

		<style type="text/css">
		<!--
			#changer{
				background: url(../images/landing/<?php echo $selectedBg; ?>) no-repeat;
				background-size: cover;
			}
		-->
</style>
	</head>
	<body>