<!-- NAVBAR -->
<!-- <div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a href="#" class="navbar-brand">
			Trevor Sargent
		</a>
		<button class="navbar-toggle" data-toggle="collapse" data-target = ".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				
				<li>
					<a href="{{site.baseurl}}/about">About</a>
				</li>
				<li class = "dropdown">
					<a href="#" class="dropdowntoggle" data-toggle = "dropdown">Design<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{site.baseurl}}/design/portfolio">Portfolio</a></li>
						<li class="divider"></li>
					</ul>
				</li>
				<li class = "dropdown">
					<a href="#" class="dropdowntoggle" data-toggle = "dropdown">Development<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{site.baseurl}}/development/projects">Projects</a></li>
						<li class="divider"></li>
						<li><a href="{{site.baseurl}}/development/projects/carnival">Carnival</a></li>
					</ul>
				</li>
				<li class = "dropdown">
					<a href="#" class="dropdowntoggle" data-toggle = "dropdown">Dither<b class="caret"></b></a>
					<ul class="dropdown-menu">
						

						<li><a href="{{site.baseurl}}/dither/blog">Blog</a></li>
						<li><a href="http://flickr.com/photos/trevorasargent">Photography</a></li>
						<li class="divider"></li>
						<li><a href="{{site.baseurl}}/dither">Why Dither?</a></li>
					</ul>
				</li>
				
			</ul>
		</div>
	</div>
</div> -->


<!-- 
<nav>

<ul>
	<li id="section">Left</li>
    <li><a href="{{site.baseurl}}/left/development">Development</a></li>
    <li id="section">Right</li>
    <li><a href="{{site.baseurl}}/right/design">Design</a></li>
    <li><a href="{{site.baseurl}}/right/photography">Photography</a></li>
	<li><a href="{{site.baseurl}}/right/blog">Writing</a></li>
</ul>
</nav> -->

<div class="header">
	<div class="container">
		
		<div class="nav hidden-xs col-xs-12">
			<div id='expand-button' class="button-box button-secondary"><h6 id = "plus-glyph" class="vert-center">+</h6></div>
			<div id="slider">
				<a href='{{site.baseurl}}/design' class="button-box button-normal"><h6 class ="vert-center">design</h6></a>
				<div class="button-box button-normal"><h6 class ="vert-center">development</h6></div>
				<div class="button-box button-normal"><h6 class ="vert-center">dither</h6></div>
			</div>
			
		</div>
	</div>
	
</div>