{% include head.html %}
{% include  nav.html %}


<!-- <div class="image-wrapper"> -->
	<!-- <div class="color-wrapper"> -->
		<div class="container">

		
			<h2>{{ page.title }}</h2>


			{% for article in site.design_portfolio %}
				{% for page_tag in article.tags %}
					{% if page_tag == page.tag %}
					<div class="row">
           				<div class="col-sm-12">
	       					<h3><a href="{{article.url}}">{{article.title}}</a></h3>
	         	        	<h4>{{article.date}}</h4>
	         	        	<h5>Role: {{article.role}} </h5>
           				</div>
      				</div>
					{% endif %}
				{% endfor %}
			{% endfor %}

				
		</div>
	<!-- </div> -->
<!-- </div> -->

{% include scripts.html %}
{% include foot.html %}