{% include head.html %}
{% include  nav.html %}


<!-- <div class="image-wrapper"> -->
	<!-- <div class="color-wrapper"> -->
		<div class="container">

			<h1>{{page.title}}</h1>
			<h4>{{page.date}}</h4>
			<h4>Role: {{page.role}} </h4>

			{{content}}

			<div class="row">
				<div class="col-sm-12">
					<h4>Tags:</h4>
					{% for page_tag in page.tags %}
						{% for site_tag in site.data.design-tags %}
							{% if site_tag.slug == page_tag %}
								<span><a href="/tags/{{page_tag}}">{{site_tag.name}}</a>&nbsp;&nbsp;</span>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>


		</div>
	<!-- </div> -->
<!-- </div> -->

{% include scripts.html %}
{% include foot.html %}
