{% include head.html %} {% include nav.html %}

<div class="container">

	{%if page.next.url %}

	<div class="row next-post">
		<h4>
			<a href="{{page.next.url}}">Next Post: {{page.next.title}}</a>
		</h4>
	</div>

	{% endif %}

	<article class="row">
		<div class="text col-sm-12">
			<a href="{{ post.url }}">
				<h3>{{ page.title }}</h3>
			</a>
			<a href="{{post.url}}">
				<h4>{{ page.date | date: '%b %d, %Y' }}</h4>
			</a>
		</div>
		<div class="post-img col-sm-12">
			<img src="{{ site.baseurl }}/images/posts/{{page.image}}.jpg" alt="">
		</div>

		<div class="post-text col-sm-12">
			{{content}}
		</div>
	</article>


	{% if page.previous.url %}

	<div class="previous-post">
		<h4>
			<a href="{{page.previous.url}}">Previous Post: {{page.previous.title}}</a>
		</h4>
	</div>

	{% endif %}

	<h4>
		<a href="/blog/archive">Blog Archive</a>
	</h4>
</div>


{% include scripts.html %} {% include foot.html %}