{% include head.html %}

<style type="text/css">

body{
	background: url("{{site.baseurl}}/images/paper.png");
}

.title a:hover{
	background: rgba(51, 51, 51, 0.6);
}

#section{
	color:#333333;
}

.title h2{
	color:#333333;
}


</style>

<div class = "title">
	<h1><a href = "{{site.baseurl}}/"> Trevor Sargent</a></h1>
	<h2>{{page.title}}</h2>
	{% include nav.html %}
</div>


<div class='wrap'>

	<!--<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div> -->

	
		
	<div class="post">
		<div class = "prevnext">
		{% if page.previous.url %}
		<p><a href="{{page.previous.url}}">Previous Post: {{page.previous.title}}</a> </p>
		{% endif %}	
		{%if page.next.url %}
		<p><a href="{{page.next.url}}">Next Post: {{page.next.title}}</a></p>
		{% endif %}
		</div>
		<a href="{{page.click}}/"><img src="{{site.baseurl}}/images/posts/{{page.image}}.jpg")></a>
		<p class="meta">{{ page.date | date_to_string }}</p>
		{{ content }}
	</div>

</div>


{% include foot.html %}